check_models.py
server.py
yolov8n.pt
.env
.DS_Store
runs/

# Максимально строгий .dockerignore для деплоя FastAPI
*.pt
*.onnx
*.npy
*.dill
*.stamp
*.iml
*.lock
*.fingerprint
*.cache
*.dylib
*.plist
*.png
*.car
*.bundle
*.storyboardc
*.json
*.md
*.txt
build/
datasets/
saved_model/
yolov8n_saved_model/
assets/

android/
macos/
windows/
web/
test/
.idea/
.vscode/
.git/
.github/
.dart_tool/
.metadata
runs/
.DS_Store
.env
check_models.py
server.py
